@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #333333;
}

.dark-mode {
  --background-color: #333333;
  --text-color: #ffffff;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}


@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(71, 127, 247, 0.376) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}


html {
  scroll-behavior: smooth;
}

/************Nav****/

.relative:hover .line {
  transform: scaleX(1);
  transition-duration: 300ms;
}

.line {
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition: transform 300ms;
}

.bg-white {
  background-color: white;
}

.navbar {
  position: relative;
  z-index: 1000;
}


/******loader*******/

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #f1f1f1;
}
