@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background-color-light: #ffffff;
  --text-color-light: #333333;
  --background-color-dark: #1a202c;
  --text-color-dark: #cbd5e0;
  --line-color-dark: #cbd5e0;
  --line-color-light: #333333;
}






body {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.title {
  color: var(--text-color-dark);
  transition: color 0.5s ease;
}

a{
  color: var(--text-color-dark);
  transition: color 0.5s ease;
}

.light-mode a  {
  color: var(--text-color-light);
}



/* Navigation Line */
.line {
  background-color: var(--line-color-dark);
  transition: background-color 0.5s ease;
}

.light-mode .line {
  background-color: var(--line-color-light);
}


/* Title h1 */
.title-h1 {
  color: var(--text-color-dark);
  transition: color 0.5s ease;
}

.light-mode .title-h1 {
  color: var(--text-color-light);
}

/* Title h2 */
.title-h2 {
  color: var(--text-color-dark);
  transition: color 0.5s ease;
}

.light-mode .title-h2  {
  color: var(--text-color-light);
}



.icon {
  color: var(--icon-color);
  transition: color 0.5s ease;
}

.icon:hover {
  color: var(--icon-hover-color);
}


@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(71, 127, 247, 0.376) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}


html {
  scroll-behavior: smooth;
}

/************Nav****/

.relative:hover .line {
  transform: scaleX(1);
  transition-duration: 300ms;
}

.line {
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition: transform 300ms;
}

.bg-white {
  background-color: white;
}

.navbar {
  position: relative;
  z-index: 1000;
}


/******loader*******/

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #f1f1f1;
}

